<div class="custom-row">
    <div id="login-page" class="custom-card-4 custom-horizontal-center-block" style="padding:5px;background-color: #269abc;color: #a6e1ec;font-weight:bold;"></div>
    <div id="app-page">
        <div id="main-panel" class="custom-card-4 custom-horizontal-center-block"></div>
        <div id="menu-panel" class="custom-card-4 custom-horizontal-center-block"></div>
        <button id="logout-btn" type="button">Log out</button>
    </div>
</div>

<script src="/codes/FrontEnd/components/main.js" async></script>