/**
 * Created by Z YAN on 09/03/17.
 */
.login-container {
    display: none;
    width: 40%;
    margin-top: 10%;
    padding:5px;
    background-color: #269abc;
    color: #a6e1ec;
    font-weight:bold;
    opacity: 0.9;
}

@media (max-width:600px){
    #login-page {
        width: 80%;
    }
}

#app-page {
    display: none;
    width: 100%;
    height: 100%;
}


