<div id="menu-container" class="custom-row">
    <div id="switch-to-top-btn" type="button" class="custom-col s3 m3 l3 custom-btn-style menu-btn">
        <span class="menu-btn-text">Switch to Top</span>
    </div>
    <div id="switch-to-request-btn" type="button" class="custom-col s3 m3 l3 custom-btn-style menu-btn">
        <span class="menu-btn-text">Switch to Request</span>
    </div>
    <div id="switch-to-post-btn" type="button" class="custom-col s3 m3 l3 custom-btn-style menu-btn">
        <span class="menu-btn-text">Switch to Post</span>
    </div>
    <div id="switch-to-account-btn" type="button" class="custom-col s3 m3 l3 custom-btn-style menu-btn">
        <span class="menu-btn-text">Switch to Account</span>
    </div>
</div>

<script src="/FrontEnd/components/menu/menu.js" async></script>