<div id="login-panel">
    <form id="login-form">
        Email Address : <input id="login-email" type="text" name="email" required /><br>
        Password : <input id="login-password" type="password" name="password" required /><br>
        <button id="submit-login" type="button">Log in</button>
    </form>
</div>

<div id="register-panel">
    <form id="register-form">
        Email Address : <input id="register-email" type="text" name="email" required /><br>
        Password : <input id="register-password" type="password" name="password" required /><br>
        <button id="submit-register" type="button">Register</button>
    </form>
</div>

<script src="components/login/login.js"></script>