<div id="login-panel">
    <form>
        Email Address : <input type="text" name="email" required><br>
        Password : <input type="password" name="password" required><br>
        <button type="submit">Log in</button>
    </form>
</div>

<div id="register-panel">
    <form>
        Email Address : <input type="text" name="email" required><br>
        Password : <input type="password" name="password" required><br>
        <button type="submit">Register</button>
    </form>
</div>

<script src="components/login-page/login.js"></script>