<div id="login-panel">
    <form id="login-form">
        Email Address : <input type="text" name="email" required><br>
        Password : <input type="password" name="password" required><br>
        <button id="submit-login" type="submit">Log in</button>
    </form>
</div>

<div id="register-panel">
    <form id="register-form">
        Email Address : <input type="text" name="email" required><br>
        Password : <input type="password" name="password" required><br>
        <button id="submit-register" type="submit">Register</button>
    </form>
</div>

<script src="components/login-page/login.js"></script>