<div id="login-panel">
    Email : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="login-email" type="text" name="email" required /><br>
    Password : <input id="login-password" type="password" name="password" required /><br>
    <div id="submit-login" type="button" class="custom-btn-style login-btn">Log in</div>
</div>

<div id="register-panel">
    Email : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="register-email" type="text" name="email" required /><br>
    Password : <input id="register-password" type="password" name="password" required /><br>
    <div id="submit-register" type="button" class="custom-btn-style login-btn">Register</div>
</div>

<script src="/FrontEnd/components/login/login.js" async></script>